@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .alert {
        @apply flex p-4 mb-4 text-sm text-red-700 bg-red-100 dark:bg-red-200 dark:text-red-800;
    }

    .input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:border-teal-600
         focus:ring-0 focus:outline-none block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    .button {
        @apply text-white bg-gradient-to-r from-teal-400 via-teal-500 
        to-teal-600 hover:bg-gradient-to-br focus:outline-none 
         dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 
        dark:shadow-lg dark:shadow-teal-800/80 font-medium text-sm px-5 py-2.5 text-center mr-2 mb-2;
    }

    .button-large {
        @apply font-medium text-base px-12 py-3 text-center;
    }
}
