@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-gray-800;
    }
    h1 {
        @apply text-4xl font-medium mb-4;
    }
}

@layer components {
    .alert {
        @apply flex p-4 mb-4 text-sm text-red-700 bg-red-100 dark:bg-red-200 dark:text-red-800;
    }

    .link {
        @apply inline-block text-gray-900 no-underline border-b border-black font-bold text-sm;
    }

    .input {
        @apply bg-gray-50 border border-gray-300 rounded-sm text-gray-900 text-sm focus:border-teal-600
         focus:ring-0 focus:outline-none block p-2.5 w-96
         dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    .input-file {
        @apply block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4
      file:rounded-full file:border-0 file:text-sm file:font-semibold
      file:bg-violet-50 file:text-teal-700 hover:file:bg-violet-100;
    }

    .textarea {
        @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-sm border border-gray-300
        focus:border-teal-600 outline-none dark:bg-gray-700 dark:border-gray-600 resize-none
        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    .button {
        @apply text-white bg-gradient-to-r from-teal-400 via-teal-500 
        to-teal-600 hover:bg-gradient-to-br focus:outline-none 
         dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 
        dark:shadow-lg dark:shadow-teal-800/80 text-center mr-2 mb-2;
    }

    .button-large {
        @apply font-medium text-base px-12 py-3;
    }

    .button-sm {
        @apply px-5 py-2.5 text-sm;
    }

    .radio {
        @apply appearance-none rounded-lg w-4 h-4 bg-gray-200 border-teal-600 border 
        checked:bg-teal-600;
    }
}
